@model List<Nota>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mis notas</h1>
    <p>Tengo @Model.Count notas</p>
    <a id="consultarNotas" href="#">CONSULTAR NOTAS</a>
    <div id="notas"></div>
    @* @foreach (Nota nota in Model)
    {
        <div>
            <h2>@nota.Titulo</h2>
            <p>@nota.Cuerpo</p>
        </div>   
    }     *@
    <img src="~/images/banner-home.jpg" />
</div>
